In [11]:
import requests

res = requests.get('https://ineuron.ai/courses')

txt = res.text
status = res.status_code

In [12]:
from bs4 import BeautifulSoup
import json
soup = BeautifulSoup(res.content, 'html.parser')   #### extracting the website content

div = soup.find_all('script', {"type": "application/json"})   ###finding and extracting the data/type we are intereseted in 

for data in div:
     jsn = json.loads(data.string)   ## parsing the json content of the website

final_data = jsn['props']['pageProps']['initialState']['init']    ### extracting and saving the details we want for our model

In [13]:
file = open('extracted_data_json', 'wb')

import pickle
pickle.dump(final_data, file)

In [14]:
with open('extracted_data_json', 'rb') as file:
    final_data = pickle.load(file)

In [15]:
import pandas as pd
modified_data = pd.DataFrame(final_data['courses']).transpose().reset_index()

In [ ]:
modified_data['courseInOneNeuron'].fillna("None",inplace=True)

In [16]:
modified_data[['pricing','index']]

,pricing,index
0,"{'IN': 99, 'US': 1.25, 'discount': 100, 'isFre...",Masterclass Why study Web Development & DSA Us...
1,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",Building Scalable Applications in Java & Sprin...
2,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",Machine Learning Community Class
3,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",Mastering Databases
4,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",CarDekho End to End Project
...,...,...
451,"{'IN': 25000, 'US': 315, 'discount': 0, 'isFre...",Azure Data scientist Associate DP100
452,"{'IN': 25000, 'US': 315, 'discount': 0, 'isFre...",Digital Marketing
453,"{'IN': 25000, 'US': 315, 'discount': 0, 'isFre...",GIT
454,"{'IN': 25000, 'US': 315, 'discount': 0, 'isFre...",Linux
455,"{'IN': 25000, 'US': 315, 'discount': 0, 'isFre...",R Programming

In [36]:
import ast
def convert(text):
    L = []
    for i in text:
        L.append(i['name']) 
    return L

In [37]:
modified_data['instructorsDetails1'] = modified_data['instructorsDetails'].apply(convert)

In [38]:
modified_data.head()

,index,_id,platformType,tags,labPlans,mode,categoryId,seo,description,mobilePricing,...,classTimings,batches,createdAt,img,courseMeta,instructorsDetails,pricing,courseInOneNeuron,instructorsDetails1,learning
0,Masterclass Why study Web Development & DSA Us...,6448cc5b456292fbbf29c40a,main,[community],[],self-paced,62cd98d053f5fe1def6b9b12,{'keywords': ''},Learning web development is becoming increasin...,"{'IN': 99, 'US': 1.25, 'discount': 100, 'isFre...",...,"{'startDate': '30th April'23', 'timings': '6PM...",[],2023-04-26T07:01:47.957Z,6448cc5b456292fbbf29c40a.jpg,"[{'instructors': ['6425405845629281da28a087'],...","[{'_id': '6425405845629281da28a087', 'name': '...","{'IN': 99, 'US': 1.25, 'discount': 100, 'isFre...",NaN,[Sanket Singh],"[[Why web development?, DSA Applications in In..."
1,Building Scalable Applications in Java & Sprin...,64410265456292ae2029a179,main,[community],[],self-paced,62cd9b4c53f5fe6d836b9b36,{'keywords': ''},Building scalable applications in Java and Spr...,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",...,"{'startDate': '29th April'23', 'timings': '8.3...",[],2023-04-20T09:14:13.336Z,64410265456292ae2029a179.jpg,"[{'instructors': ['63fdaf9f87f61173feb489be'],...","[{'_id': '63fdaf9f87f61173feb489be', 'name': '...","{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",NaN,[Vishwa Mohan],"[[Building Scalable Applications, Understandin..."
2,Machine Learning Community Class,643e93ae4562920804297cae,main,[community],[],self-paced,62cd960b53f5fec5156b9aeb,{'keywords': 'Machine learning basics Data pre...,This free course on machine learning is design...,"{'IN': 0, 'US': 0, 'discount': 0, 'isFree': Fa...",...,"{'startDate': '18th April', 'timings': 'Flexib...",[],2023-04-18T12:57:18.673Z,643e93ae4562920804297cae.jpg,"[{'instructors': ['618929e26e59b248b8c04aa6'],...","[{'_id': '618929e26e59b248b8c04aa6', 'name': '...","{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",NaN,[krish naik],"[[Master Machine Learning on Python, Supervise..."
3,Mastering Databases,643972c34562920139294607,main,[community],[],self-paced,62cda24c53f5fe6c866b9b9d,{'keywords': ''},"This course is an introduction to databases, t...","{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",...,"{'startDate': '15th April'23', 'timings': 'Fle...",[],2023-04-14T15:35:31.687Z,643972c34562920139294607.jpg,"[{'instructors': ['63fdaf9f87f61173feb489be', ...","[{'_id': '619370a59db36f163876b413', 'name': '...","{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",NaN,"[Sudhanshu Kumar, Vishwa Mohan]","[[Fundamental concepts of databases, Data Inte..."
4,CarDekho End to End Project,6439281045629264f12943d8,main,[community],[],self-paced,62cd961453f5fe4b636b9aec,{'keywords': 'cardekho project'},CarDekho is a self-propelled machine or vehicl...,"{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",...,"{'startDate': '14th April'23', 'timings': 'Fle...",[],2023-04-14T10:16:48.637Z,6439281045629264f12943d8.jpg,"[{'instructors': ['618929e26e59b248b8c04aa6'],...","[{'_id': '618929e26e59b248b8c04aa6', 'name': '...","{'isFree': True, 'IN': 0, 'US': 0, 'discount': 0}",NaN,[krish naik],"[[End to End Project, Machine Learning Project]]"

In [20]:
import ast
def convert1(text):
    L = []
    for i in text:
        L.append(i['overview']['learn']) 
    return L

In [21]:
modified_data['learning'] = modified_data['courseMeta'].apply(convert1)

In [ ]:
modified_data['courseInOneNeuron'].fillna("None",inplace=True)

In [ ]:
finald = modified_data[["index","_id","description","instructorsDetails1", "learning"]]

In [ ]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
def collapse1(L):
    L1 = []
    for i in L:
        for j in i:
            L1.append(j)
    return L1

In [ ]:
finald['instructorsDetails1'] = finald['instructorsDetails1'].apply(collapse)
finald.head()

In [ ]:
finald['description'] = finald['learning'].apply(collapse1)

In [ ]:
finald['tags'] = finald['description'] + finald['instructorsDetails1'] +finald['learning']

In [ ]:
finald['tags1'] = [' '.join(map(str, l)) for l in finald['tags']]
finald.head()

In [ ]:
finald = finald.drop(['instructorsDetails1', 'description','learning'], axis = 1)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(finald['tags1']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [ ]:
def recommend(course):
    index = finald[finald['Title'] == course].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(finald.iloc[i[0]].Title)

In [ ]:
finald.rename(columns = {'index':'Title'}, inplace = True)

In [ ]:
finald[finald['Title'] == 'Django']

In [ ]:
def get_requirements(file) -> list[str]:

    requirement_list:list[str] = []

    with open(file, "r") as file1:
        for i in file1:
            requirement_list.append(i)
    return requirement_list

In [ ]:
get_requirements('requirements.txt')

In [34]:
from sklearn.pipeline import Pipeline
classifier = Pipeline("zero-shot-classification")
result = classifier("this is a course about GENAI")

TypeError: 'Pipeline' object is not callable